<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is the admin panel
    <form action="/admin" method="post">
        <label for="category">Category</label>
        <input type="text" name="category">
        <label for="playlist">Playlist</label>
        <input type="text" name="playlist" id="" placeholder="name;content;link">
        <label for="book">Book</label>
        <input type="text" name="book" placeholder="name;content;link">
        <label for="quote">Quote</label>
        <input type="text" name="quote" placeholder="Quote">
        <button type="submit">Submit</button>
    </form>
</body>
</html>