<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./CSS/Diary.css">
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="leftNav">
          <h1>Private Journal</h1>
        </div>
        <div class="rightNav">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a class="active" href="/diary">Diary</a></li>
            <li><a href="/care">Care</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-01">
      <a href=""><button class="btn-01">Your Journal</button></a>
      <a href=""><button class="btn-02">Mood Analyser</button></a>
      <a href="/yourStats"><button class="btn-03">Your Stats</button></a>
    </div>
    <div>
      <form action="/addJournal" method="post"> 
        <textarea
          name="journals"
          id=""
          placeholder="Jot down your thoughts . . ."
          autocapitalize="sentences"
          spellcheck="true"
          autofocus
        ></textarea>
        <button class="btn-05" type="submit">
          <img src="../Assets/tick.svg" alt="Submit" />
        </button>
      </form>
    </div>
    <div>
      <a href="/previousJournals"
        ><button class="btn-04">Let’s see your previous journals</button></a
      >
    </div>
    <footer>
      <div class="BottomLogo">
        <h1>Private Journal</h1>
      </div>
    </footer>
  </body>
</html>