<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./CSS/homePage.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="leftNav">
          <h1>PriJour</h1>
        </div>
        <div class="rightNav">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/diary">Diary</a></li>
            <li><a href="/care">Care</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-04">
      <div class="container-01">
        <div class="block-01">
          <h1>Books</h1>
        </div>
      </div>
      <div class="img-01">
        <img
          src="../Assets/friends.svg"
          alt="Two friends are having some good time"
        />
      </div>
      <div class="container-02">
        <div class="block-01">
          <h1>Quotes</h1>
        </div>
      </div>
    </div>
    <div class="container-03">
      <div class="block-02">
        <h1>Playlists</h1>
      </div>
    </div>
    <footer>
      <div class="BottomLogo">
        <h1>PriJour</h1>
      </div>
    </footer>
  </body>
</html>