<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta
      name="google-signin-client_id"
      content="YOUR_CLIENT_ID.apps.googleusercontent.com"
    />
    <link rel="stylesheet" href="./CSS/index.css" />
    <link rel="stylesheet" href="./CSS/GAuth.css">
    <!-- <script src="https://apis.google.com/js/api:client.js"></script> -->
    <!-- <script src="/Scripts/GAuth.js"></script> -->
  </head>
  <body>
    <div class="navbar">
      <!-- <div class="leftNav">
         <h1>Private Journal</h1> 
           <span> pun Intended</span> 
      </div> -->
      <!-- <div class="rightNav">
        <button class="btn-01">Sign In</button>
        <a href="LogIn.html"><button class="btn-02">Log In</button></a>
      </div> -->
    </div>
    <div class="container">
    <div class="leftCol">
      <img class="img-01" src="./Assets/signIn.svg" alt="Opening of a window" />
    </div>
    <div class="rightCol">
         <div class="box"> 
          <h1>Private Journal</h1>
          <!-- In the callback, you would hide the gSignInWrapper element on a successful sign in -->
          <div id="gSignInWrapper">
            <div id="customBtn" class="customGPlusSignIn">
              <form action="/google/auth" method="get">
                <button type="submit" id="sub">
                  <span class="buttonText" >
                    Sign in with
                    </span>
                    <span class="icon"></span>
                </button>
              </form>
            </div>
          </div>
          <div id="name"></div>
          <script>
            startApp();
          </script>
          <!-- <h5>-or-</h5>
        <form action="">
            <label for="email"><b>Sign in with E-Mail</b></label>
            <input type="text" placeholder="Enter E-Mail" name="email" required>
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>        
          <button type="submit" class="btn-04"></button>
        </div>
        </form> -->
      </div>
    </div>
  </body>
</html>