<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PriJour &#124; About</title>
    <meta
      name="google-signin-client_id"
      content="YOUR_CLIENT_ID.apps.googleusercontent.com"
    />
    <link rel="stylesheet" href="./CSS/index.css" />
    <link rel="stylesheet" href="./CSS/GAuth.css" />
    <!-- <script src="https://apis.google.com/js/api:client.js"></script> -->
    <!-- <script src="/Scripts/GAuth.js"></script> -->
  </head>
  <body>
    <h1>PriJour</h1>
    <div id="gSignInWrapper">
      <div id="customBtn" class="customGPlusSignIn">
        <form action="/google/auth" method="get">
          <button type="submit" id="sub">
            <span class="buttonText"> Sign in with </span>
            <span class="icon"></span>
          </button>
        </form>
      </div>
    </div>
    <div id="name"></div>
    <script>
      startApp();
    </script>
    <div class="box">
      <img src="./Assets/signIn.svg" alt="" />
      <h1>
      Prijour - where your emotion meets our devotion 

It is an emotional spa, where we aspire to shower you with positivity and euphoria along with aiding you to heal those deep emotional wounds. Here the massage is positivity, the scrub to remove your dead cells is powerful words/content to give you what you need and in the end we shower you with positive affirmation!
      </h1>
    </div>
  </body>
</html>