<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <meta
      name="google-signin-client_id"
      content="YOUR_CLIENT_ID.apps.googleusercontent.com"
    />
    <link rel="stylesheet" href="./CSS/index.css" />
    <link rel="stylesheet" href="./CSS/GAuth.css" />
    <!-- <script src="https://apis.google.com/js/api:client.js"></script> -->
    <!-- <script src="/Scripts/GAuth.js"></script> -->
  </head>
  <body>
    <h1>PriJour</h1>
    <div id="gSignInWrapper">
      <div id="customBtn" class="customGPlusSignIn">
        <form action="/google/auth" method="get">
          <button type="submit" id="sub">
            <span class="buttonText"> Sign in with </span>
            <span class="icon"></span>
          </button>
        </form>
      </div>
    </div>
    <div id="name"></div>
    <script>
      startApp();
    </script>
    <div class="box">
      <img src="./Assets/signIn.svg" alt="" />
      <h1>
        Hola Amigos, Welcome to Prijour. This place is a free talk therapist,
        you can spill all of your thoughts, feelings and emotions,no matter
        what, without anyone judging you. While journaling has its own merits in
        terms of getting a closure but to top it all off, this website allows
        user to experience their path of transition from what’s finished to
        something new and to guide their way out of a puddle of negativity and
        depression by taking a cognizance of user’s emotions as expressed in
        their journal.
      </h1>
    </div>
  </body>
</html>