<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./CSS/PreviousJournal.css" />
    <title>PriJour &#124; Journals</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="leftNav">
          <h1>Private Journal</h1>
        </div>
        <div class="rightNav">
          <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/diary">Diary</a></li>
            <li><a href="/care">Care</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="leftCol">
      <div class="container-01">
        <div class="block">
          <h1>Filter</h1>
        </div>
        <div class="container-02">
          <h2></h2>
        </div>
      </div>
    </div>
    <div class="rightCol">
      <% for(let i=0;i < journalArray.length; i++) { %>
          <form action="/readJournal/<%=journalArray[i]._id%>" method="get">
              <a href="">
                <button type="submit"> <%= journalArray[i].date %></button>
              </a>
          </form>
      <% } %>  
      <!-- <div class="container-03">
        <a href=""
          ><button class="btn-01">Day 8, May, 2021</button></a
        >
        <a href=""><button class="btn-01">Day 7, May, 2021</button></a>
      </div>
      <div class="container-04">
        <a href=""><button class="btn-01">Day 6, May, 2021</button></a>
        <a href=""><button class="btn-01">Day 5, May, 2021</button></a>
      </div>
      <div class="container-05">
        <a href=""><button class="btn-01">Day 4, May, 2021</button></a>
        <a href=""><button class="btn-01">Day 3, May, 2021</button></a>
      </div>
      <div class="container-06">
        <a href=""><button class="btn-01">Day 2, May, 2021</button></a>
        <a href=""><button class="btn-01">Day 1, May, 2021</button></a>
      </div> -->
    </div>
    <footer>
      <div class="BottomLogo">
        <h1>Private Journal</h1>
      </div>
    </footer>
  </body>
</html>