<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../CSS/ReadJournal.css" />
  <title>PriJour &#124; Journal</title>
</head>

<body>
  <nav class="navbar">
    <div class="container">
      <div class="leftNav">
        <h1>PriJour</h1>
      </div>
      <div class="rightNav">
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/diary">Diary</a></li>
          <li><a href="/care">Care</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="date">
    <h1><%= journal.date%></h1>
  </div>
  <div>
    <textarea name="journals" id="" autocapitalize="sentences" spellcheck="true" autofocus="true" disabled="true">
        <%= journal.journal %>
    </textarea>
  </div>
  <div class="container-01">
    <a href="Diary.html"><button class="btn-01">Back</button></a>
    <!-- <a href=""><button class="btn-02">Next</button></a> -->
  </div>
  <footer>
    <div class="BottomLogo">
      <h1>PriJour</h1>
    </div>
  </footer>
</body>
      <script>
        const x = document.querySelector('.date');
        console.log(x.getYear());
      </script>
</html>