@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

#customBtn {
  position: relative;
  display: inline-block;
  background: #b8e5ff;
  color: #000000;
  height: 69px;
  width: 190px;
  border: 5px solid #000000;
  border-radius: 10px;
  white-space: nowrap;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.15);
  width: 437px;
  margin: 0 0 0 62%;
  top: -100px;
}

#customBtn:hover {
  cursor: pointer;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0);
}

span.icon {
  position: relative;
  background: url("../Assets/google.svg") transparent 5px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 125.72px;
  height: 40px;
  top: 5px;
  left: -12%;
}

span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding: 2% 12%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 35px;
}
