@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  top: 0;
  left: 0;
}

body {
  position: relative;
  width: 100%;
  height: 90vh;
  background: #eefeff;
}

.navbar {
  margin: 50px 40px;
  padding: 20px 150px;
  max-width: 100%;
  display: flex;
}

/* .leftNav {
  max-width: 280px;
} */

/* .leftNav h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 15px;
  color: #000000;
} */

h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 15px;
  color: #000000;
  margin: 20% 7%;

}

/* .leftNav span {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 10px;
  line-height: 15px;
  color: #000000;
} */

/* .rightNav {
  margin: -20px 0px 0px 40%;
} */

.btn-01 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
  background: #b8e5ff;
  width: 170px;
  height: 55px;
  border: 5px solid #000000;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  vertical-align: middle;
  padding-left: 20px;
  padding-right: 10px;
  cursor: pointer;
}

.btn-02 {
  position: relative;
  top: -55px;
  left: 200px;
  width: 170px;
  height: 55px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
  background: #b8e5ff;
  border: 5px solid #000000;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  vertical-align: middle;
  padding-left: 25px;
  padding-right: 10px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn-01:hover {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0);
}

.btn-02:hover {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0);
}

.leftCol {
  margin: 0px 5%;
  display: flex;
}

.rightCol {
  margin: -40% 0% 0% 55%;
  display: flex;
}

.box {
  width: 493px;
  height: 574px;
  background: #ffffff;
  border: 7px solid #000000;
  box-sizing: border-box;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
}

h5 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 37px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 3% 43%;
  color: #000000;
}

input {
  width: 437px;
  height: 69px;
  background: #eefeff;
  border: 5px solid #000000;
  border-radius: 10px;
}

.btn-04 {
  width: 55px;
  height: 55px;
  margin: 5% 44%;
  background: #b8e5ff;
  border: 5px solid #000000;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 90px;
}

label {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 3% 0 0 15%;
  color: #00160a;
  width: 437px;
  height: 52px;
}

input[placeholder="Enter E-Mail"] {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #00160a;
  margin: 0 3%;
}

input[placeholder="Enter Password"] {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 45px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #00160a;
  margin: 0 3%;
}

label[for="psw"] {
  margin: 3% 10% 0 32%;
}

.btn-04:hover {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0);
}

#sub{
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

#sub:hover{
  cursor: pointer;
}