@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  top: 0;
  left: 0;
}

body {
  background-color: #eefeff;
}

.navbar {
  background-color: white;
  width: 95%;
  height: 100px;
  background: #ffffff;
  border: 5px solid #000000;
  box-sizing: border-box;
  box-shadow: 20px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin: 2% 2.5%;
  position: fixed;
}

.container {
  display: flex;
}

.leftNav {
  padding: 2% 0% 0 10%;
}

h1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 37px;
  color: #000000;
}

.rightNav {
  display: flex;
  padding-left: 25%;
}

li {
  max-width: 400px;
  display: inline;
  text-decoration: none;
  list-style-type: none;
  float: left;
}

.rightNav a {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  font-size: 25px;
  line-height: 37px;
  align-items: center;
  text-align: center;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 24px 40px;
}

textarea {
  max-width: 88.8%;
  width: 100%;
  height: 532px;
  background: #ffffff;
  border: 7px solid #000000;
  box-sizing: border-box;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 15px 15px 15px 15px;
  margin: 0.5% 5.5% 1.5% 6%;
}

textarea[placeholder="Here will be the text ..."] {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 37px;
  display: flex;
  letter-spacing: 0.1em;
  padding: 2%;
  color: #000000;
}

.date {
  margin: 12% 0 0 9%;
}

.date h1 {
  width: 368px;
  height: 46px;
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  display: flex;
  align-items: center;
  color: #000000;
}

.container-01 {
  margin: 3% 5% 0 20%;
}

button {
  width: 340px;
  height: 55px;
  margin: 0 0 0 5.5%;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.15);
  background: #b8e5ff;
  border: 5px solid #000000;
  border-radius: 10px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  color: #000000;
}

button:hover {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 00);
}

button:active {
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 00);
}

footer {
  width: 94%;
  height: 101px;
  margin: 6% 3% 2%;
  background: #b8e5ff;
  border: 5px solid #000000;
  box-sizing: border-box;
  box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 2% 0 0 40%;
}
